node_modules/
dist/
.next/
.env
.DS_Store
__pycache__/
*.pyc
*.pyo
*.sqlite
coverage/
.envrc
*.log
*.local
.cache/
*.db
*.vscode/
*.swp
*.swo
*.egg-info/
*.test.ts.snap
.next
out/
/.turbo/
/.vercel/
/.idea/
/.output/
/.pytest_cache/
/.mypy_cache/
/docker/
